<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="ConnectionString1" connectionString="Data Source =I22-3000000371; Initial Catalog =EnglishClassDBtest; User ID =sa" providerName="System.Data.SqlClient" />
    <add name="ConnectionStringRollcall" connectionString="Data Source =I22-3000000371; Initial Catalog =EnglishClassDBtestRollcall; User ID =sa" providerName="System.Data.SqlClient" />
    <add name="EnglishClassManager.Properties.Settings.EnglishClassDBtestConnectionString" connectionString="Data Source=I22-3000000371;Initial Catalog=EnglishClassDBtest;User ID=sa" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>