<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FireSharp" version="1.1.0" targetFramework="net452" />
  <package id="FireSharp.Serialization.JsonNet" version="1.1.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net452" />
  <package id="PushSharp" version="4.0.10" targetFramework="net452" />
  <package id="RestSharp" version="104.4.0" targetFramework="net452" />
</packages>